body
{
width:990px;

font-family: calibri;
margin: 0 auto !important;
background-color:#3e6672;
border-right:5px solid #ffffff;
border-left:5px solid #ffffff;
}
div.container
{
width:990px;
margin:0px;
border:0px solid gray;
line-height:150%;

}
div.header_logo
{

padding:0em;

background-image:url('../images/logo.jpg');
background-repeat: no-repeat;
height:179px;
width:175px;

}
div.header_geev
{

padding:0em;

background-image:url('../images/top_geev.png');
background-repeat: no-repeat;
width:250px;
height:179px;
}
.trained_counts
{
border:0px;
background-color:#880d0d;
background-repeat: no-repeat;
height:45px;
width:100px;
text-align:center;
font-size:32px;
color:#ffffff;
FONT-FAMILY: Cataneo BT;
}
div.header_flash
{
padding:0em;
margin-top:0px;
height:179px;

}
div.home_small_flash
{
width:250px;
height:150px;
}
div.logo
{

padding:0em;

background-image:url('../images/logo.jpg');
background-repeat: no-repeat;
height:180px;
margin:0;
}
div.header_image
{
padding:0em;

margin-top:0px;
height:180px;
width:250px;
}

div.footer_hr
{
border-top:0px solid royalblue;
FONT-FAMILY: calibri;
FONT-SIZE: 12pt;
color:#212e43;
TEXT-ALIGN: right;


}
div.footer
{

FONT-FAMILY: calibri;
FONT-SIZE: 12pt;
color:#ffffff;
TEXT-ALIGN: left;
margin-left:120px;
}
div.followUsFooter
{
FONT-FAMILY: calibri;
FONT-SIZE: 14pt;
color:#212e43;
TEXT-ALIGN: right;
}
 
h1.header
{
padding:0;
margin:0;
}
div.left
{
float:left;
width:160px;
margin:0;
padding:0em;
}
.content
{
margin-left:25px;
border-left:0px solid gray;
width:930px;

FONT-SIZE: 9pt;
color:#212e43;
TEXT-ALIGN: justify;
border-bottom:0px solid royalblue;

}
.image_content
{
margin-left:0px;
border-left:0px solid gray;
width:930px;
FONT-FAMILY: calibri;
FONT-SIZE: 8pt;
color:#212e43;
TEXT-ALIGN: justify;
border-bottom:0px solid royalblue;

}
div.inner_container
{


width:990px;

border:0px solid gray;
background-image:url('../images/content_body.png');
}

.home_content
{
FONT-FAMILY: calibri;
FONT-SIZE: 12pt;
color:#212e43;
TEXT-ALIGN: justify;
border:0px solid royalblue;
width:640px;
line-height:2em;
margin-right:20px;
margin-left:25px;
}

.td_ver_align {
vertical-align:top;
}
.home_ver_scroll
{
margin-right:0px;
}

.home_img_content
{

border-left:0px solid gray;
padding:0em;
FONT-FAMILY: calibri;
FONT-SIZE: 8pt;
color:#212e43;
TEXT-ALIGN: justify;
border-bottom:0px solid royalblue;

}
td.content
{
FONT-FAMILY: calibri;
FONT-SIZE: 12pt;
color:#212e43;
}

td.green_background
{

}
table.one 
{

border-spacing: 0px;
background-color:#FFFFFF;
}
table.static_menu 
{
font-FAMILY: 100% calibri;
border-spacing: 0px;

}
td.top_right
{


}
div.contact_images
{
background-image:url('../images/contact.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.schedule_images
{
background-image:url('../images/schedule_workshop.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.overview_images
{
background-image:url('../images/overview.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.vision_images
{
background-image:url('../images/vision_mission.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.blog_images
{
background-image:url('../images/writing-4.jpg');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.news_images
{
background-image:url('../images/news.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.projects_images
{
background-image:url('../images/projects.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.ert_images
{
background-image:url('../images/ert.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.rec_images
{
background-image:url('../images/rec.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.cd_images
{
background-image:url('../images/cbt.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.alert_so_far
{
background-image:url('../images/alert_so_far.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.stress_images
{
background-image:url('../images/stress.jpg');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.wow_images
{
background-image:url('../images/wellnessofwomen.jpg');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.sponsor_images
{
background-image:url('../images/sponsor.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.faq_images
{
background-image:url('../images/faq.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.board_images
{
background-image:url('../images/advisory_board.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.committee_images
{
background-image:url('../images/steering_committee.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.register_images
{
background-image:url('../images/register.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.medi_images
{
background-image:url('../images/medical_camps.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.funds_images
{
background-image:url('../images/facilitate_funds.png');
background-repeat: no-repeat;

width:865px;
height:180px;

}
div.volunteers_images
{
background-image:url('../images/volunteers.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.banyan_images
{
background-image:url('../images/banyan.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.video_coverage
{
background-image:url('../images/video.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.picture_gallery
{
background-image:url('../images/photo_gallery.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.testimonials
{
background-image:url('../images/testimonials.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.trained_org
{
background-image:url('../images/trained_org.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.info_rally
{
background-image:url('../images/info_rally.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}
div.info_sastra
{
background-image:url('../images/info_sastra.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}

div.rare_gems_images
{
background-image:url('../images/rare_gems.PNG');
background-repeat: no-repeat;

width:865px;
height:180px;
}

div.alert_being_images
{
background-image:url('../images/the_alert_being.png');
background-repeat: no-repeat;

width:865px;
height:180px;
}

h3
{
FONT-FAMILY: calibri;
FONT-SIZE: 9pt;
color:#212e43;
TEXT-ALIGN: justify
}
td.table
{
FONT-FAMILY: calibri;
FONT-SIZE: 8pt;
color:#212e43;
}
th.table
{
FONT-FAMILY: calibri;
FONT-SIZE: 10pt;
color:#ffffff;
background-color:#212e43;
}
a
{
margin-bottom:0px; 
color:#1e51c8; 
font-family:calibri; 
font-size:12pt; 
text-decoration:none; 
border-style:none; 
border-width:0px;
}
a:hover
{
font-family:calibri; 
text-decoration:underline;
}


/*------------Tool Tip  START-----------------*/
.glt-elm{
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 150px;
 	color: #fff;
  font-family: calibri;
 	opacity: 0.9;
 	visibility: hidden;
}

.glt-elm p{
 	background: #666;
 	margin: 0;
 	padding: 0.5em;
}

.glt-elm img{
 	display: block;
}

/* and this CSS for IE, if you want to use transparency: */


/*------------Tool Tip  END-----------------*/

.tableborder1
{
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #212e43 1px solid;
	border-color:#212e43;

}
.secborder
{
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #212e43 1px solid;
	border-color:#212e43;

}
.regtext {
FONT-FAMILY: calibri;
FONT-SIZE: 12pt;
color:#212e43;
TEXT-ALIGN: justify;
}
.textborder
{
/*
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #212e43 1px solid;
	border-color:#212e43;	
	*/
}
.buttons
{
color: #FFFFFF 0px solid;
background-image: url('../images/circle_square_green.png');
background-repeat: no-repeat;
height:40px;
width:126px;
BORDER-BOTTOM: #FFFFFF 0px solid;
BORDER-LEFT: #FFFFFF 0px solid;
BORDER-RIGHT: #FFFFFF 0px solid;
BORDER-TOP: #FFFFFF 0px solid;
}
.toolTip 
{
    font-family: calibri;
    font-size: 8pt;        
    filter:alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
    /* comment the above 3 lines if you don't want transparency*/
} 

ul
{
margin-left:20px;
}

blockquote.style3 {
  margin-left: 25px;
  margin-right: 5px;
}